@using System.Linq.Expressions
@using ApplicationType = Logic.Models.WorkShopFirstDayApplication;

@model ApplicationType

@if (ViewData["Applications count limit exceeded"] != null)
{
    <p>
        <strong>@Html.Localize("WorkShopFirstDayApplicationLimitExceeded")</strong>
    </p>
}
else if (TempData["Application received"] != null)
{
    var number = TempData["Applicant number"];
    <p>
        <strong>@Html.Localize("WorkShopFirstDayApplicationReceived", number)</strong>
    </p>
}
else
{
    using (Html.BeginUmbracoForm<WorkShopFirstDayApplicationController>("Send"))
    {
        if (!ViewData.ModelState.IsValid)
        {
            <p class="workshop-application-errors">
                @Html.Localize("WorkShopApplicationErrors")
            </p>
        }
        <section class="workshop-application-section">
            <h3>
                <span>@Html.Localize("WorkShopApplicationPersonalData")</span>
            </h3>
            
            @ApplicationHelpers.PersonalData(Html, model => model.Name, Html.EditorFor)
            @ApplicationHelpers.PersonalData(Html, model => model.Surname, Html.EditorFor)
            @ApplicationHelpers.PersonalData(Html, model => model.Email, Html.EditorFor)
            @ApplicationHelpers.PersonalData(Html, model => model.Phone, Html.EditorFor)
            @ApplicationHelpers.PersonalData(Html, model => model.Profession, Html.EditorFor)
        </section>

        <section class="workshop-application-section">
            <div class="row">
                <div class="1u">
                    @Html.EditorFor(model => model.ProcessData)
                </div>
                <div class="11u noPadding">
                    @Html.LabelFor(model => model.ProcessData)
                    @Html.ValidationMessageFor(model => model.ProcessData)
                </div>
            </div>
        </section>

        <a class="button" href="#" onclick="$(this).closest('form').submit()">@Html.Localize("WorkShopApplicationSubmit")</a>
    }
}