@using Logic.Helpers
@using Umbraco.Web;
@using Logic.Controllers;
@using Logic.Models;

@*@Html.Action("Index", "WorkShopApplication")*@

@model WorkShopApplicationModel
@{
    const string dateFormat = "{0:dd.MM.yyyy}";
}


@if (TempData["Application received"] != null)
{
    <p>Дякуємо за заявку</p>
}
else
{
    using (Html.BeginUmbracoForm<WorkShopApplicationController>("SendApplication"))
    {
        <section class="workshop-application-section">
            <h3 class="workshop-application-header">Особисті дані</h3>
            <div class="row">
                <div class="3u">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="9u">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="row">
                <div class="3u">
                    @Html.LabelFor(model => model.Surname)
                </div>
                <div class="9u">
                    @Html.EditorFor(model => model.Surname)
                    @Html.ValidationMessageFor(model => model.Surname)
                </div>
            </div>
            <div class="row">
                <div class="3u">
                    @Html.LabelFor(model => model.BirthDate)
                </div>
                <div class="9u">
                    @Html.TextBoxFor(model => model.BirthDate, @dateFormat, new { @class = "calendar" })
                    @Html.ValidationMessageFor(model => model.BirthDate)
                </div>
            </div>
            <div class="row">
                <div class="3u">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="9u">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="row">
                <div class="3u">
                    @Html.LabelFor(model => model.Phone)
                </div>
                <div class="9u">
                    @Html.EditorFor(model => model.Phone)
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>
            <div class="row">
                <div class="3u">
                    @Html.LabelFor(model => model.Profession)
                </div>
                <div class="9u">
                    @Html.EditorFor(model => model.Profession)
                    @Html.ValidationMessageFor(model => model.Profession)
                </div>
            </div>
            <div class="row">
                <div class="3u">
                    @Html.LabelFor(model => model.EnglishLevel)
                </div>
                <div class="9u">
                    @Html.EnumDropDownListFor(model => model.EnglishLevel)
                    @Html.ValidationMessageFor(model => model.EnglishLevel)
                </div>
            </div>
            <div class="row">
                <div class="3u">
                    @Html.LabelFor(model => model.OrganizationName)
                </div>
                <div class="9u">
                    @Html.EditorFor(model => model.OrganizationName)
                    @Html.ValidationMessageFor(model => model.OrganizationName)
                </div>
            </div>
            <div class="row">
                <div class="3u">
                    @Html.LabelFor(model => model.LegalStatus)
                </div>
                <div class="9u">
                    @Html.EnumDropDownListFor(model => model.LegalStatus)
                    @Html.ValidationMessageFor(model => model.LegalStatus)
                </div>
            </div>
            <div class="row">
                <div class="3u">
                    @Html.LabelFor(model => model.OrganizationInfo)
                </div>
                <div class="9u">
                    @Html.EditorFor(model => model.OrganizationInfo)
                    @Html.ValidationMessageFor(model => model.OrganizationInfo)
                </div>
            </div>
            <div class="row">
                <div class="3u">
                    @Html.LabelFor(model => model.ParticipantsNumber)
                </div>
                <div class="9u">
                    @Html.EditorFor(model => model.ParticipantsNumber)
                    @Html.ValidationMessageFor(model => model.ParticipantsNumber)
                </div>
            </div>
        </section>

        <section class="workshop-application-section">
            <h3 class="workshop-application-header">Мотивація</h3>
            <div class="row">
                <div class="4u">
                    @Html.LabelFor(model => model.Motivation1)
                </div>
                <div class="8u">
                    @Html.EditorFor(model => model.Motivation1)
                    @Html.ValidationMessageFor(model => model.Motivation1)
                </div>
            </div>
            <div class="row">
                <div class="4u">
                    @Html.LabelFor(model => model.Motivation2)
                </div>
                <div class="8u">
                    @Html.EditorFor(model => model.Motivation2)
                    @Html.ValidationMessageFor(model => model.Motivation2)
                </div>
            </div>
            <div class="row">
                <div class="4u">
                    @Html.LabelFor(model => model.Motivation3)
                </div>
                <div class="8u">
                    @Html.EditorFor(model => model.Motivation3)
                    @Html.ValidationMessageFor(model => model.Motivation3)
                </div>
            </div>
            <div class="row">
                <div class="4u">
                    @Html.LabelFor(model => model.Motivation4)
                </div>
                <div class="8u">
                    @Html.EditorFor(model => model.Motivation4)
                    @Html.ValidationMessageFor(model => model.Motivation4)
                </div>
            </div>
            <div class="row">
                <div class="4u">
                    @Html.LabelFor(model => model.Motivation5)
                </div>
                <div class="8u">
                    @Html.EditorFor(model => model.Motivation5)
                    @Html.ValidationMessageFor(model => model.Motivation5)
                </div>
            </div>
            <div class="row">
                <div class="4u">
                    @Html.LabelFor(model => model.Motivation6)
                </div>
                <div class="8u">
                    @Html.EditorFor(model => model.Motivation6)
                    @Html.ValidationMessageFor(model => model.Motivation6)
                </div>
            </div>
        </section>

        <a class="button" href="#" onclick="$(this).closest('form').submit()">Надіслати</a>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".calendar").datepicker({
                    dateFormat: "dd.mm.yy",
                });
            });
        </script>
    }
}