@using System.Linq.Expressions
@using ApplicationType = Logic.Models.WorkShopVolunteerApplication;

@*TODO: to be honest this view should be in Logic project*@

@*@Html.Action("Index", "WorkShopApplication")*@

@model WorkShopVolunteerApplication
@{
    const string dateFormat = "{0:dd.MM.yyyy}";
}

@if (TempData["Application received"] != null)
{
    <p>
        <strong>@Html.Localize("WorkShopApplicationReceived")</strong>
    </p>
}
else
{
    using (Html.BeginUmbracoForm<WorkShopVolunteerApplicationController>("Send"))
    {
        if (!ViewData.ModelState.IsValid)
        {
            <p class="workshop-application-errors">
                @Html.Localize("WorkShopApplicationErrors")
            </p>
        }
        <section class="workshop-application-section">
            <h3>
                <span>@Html.Localize("WorkShopApplicationPersonalData")</span>
            </h3>
            
            @ApplicationHelpers.PersonalData(Html, model => model.Name, Html.EditorFor)
            @ApplicationHelpers.PersonalData(Html, model => model.Surname, Html.EditorFor)
            @ApplicationHelpers.PersonalData(Html, model => model.BirthDate, Html.TextBoxFor(model => model.BirthDate, dateFormat, new { @class = "calendar" }))
            @ApplicationHelpers.PersonalData(Html, model => model.Email, Html.EditorFor)
            @ApplicationHelpers.PersonalData(Html, model => model.SocialNetworkUrl, Html.EditorFor)
            @ApplicationHelpers.PersonalData(Html, model => model.Phone, Html.EditorFor)
            @ApplicationHelpers.PersonalData(Html, model => model.Profession, Html.EditorFor)
            @ApplicationHelpers.PersonalData(Html, model => model.EnglishLevel, Html.EnumDropDownListFor)
            @ApplicationHelpers.PersonalData(Html, model => model.WorkTimeRange, Html.EditorFor)
        </section>

        <section class="workshop-application-section">
            <h3>
                <span>@Html.Localize("WorkShopApplicationMotivation")</span>
            </h3>
            
            @ApplicationHelpers.MotivationData(Html, model => model.VolunteeringMotivation, Html.EditorFor)
        </section>

        <section class="workshop-application-section">
            <div class="row">
                <div class="1u">
                    @Html.EditorFor(model => model.ProcessData)
                </div>
                <div class="11u noPadding">
                    @Html.LabelFor(model => model.ProcessData)
                    @Html.ValidationMessageFor(model => model.ProcessData)
                </div>
            </div>
        </section>

        <a class="button" href="#" onclick="$(this).closest('form').submit()">@Html.Localize("WorkShopApplicationSubmit")</a>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".calendar").datepicker({
                    dateFormat: "dd.mm.yy",
                    changeYear: true,
                    changeMonth: true,
                    yearRange: "-75:-5",
                });
            });
        </script>
    }
}