@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;

    var humanInfoItems = CurrentPage.umbHumanInfos;
    const int itemsPerRow = 4;
}

@helper RenderRow(dynamic humanInfos)
{
    <div class="row">
        @foreach (var item in humanInfos)
        {
            // If the editor has not explicitly provided the "Page title" property page
            // then just show the name of the page otherwise show the provided title
            var title = string.IsNullOrWhiteSpace(item.Title)
                ? item.Name
                : item.Title;

            <section class="3u humans-overview-item">
                @if (string.IsNullOrWhiteSpace(item.Image) == false)
                {
                    <a href="@item.Url" class="image image-full">
                        @*<img src="@Html.GetThumbnailUrl((string)item.Image)" alt="" />*@
                        <img src="@item.Image" alt="" />
                    </a>
                }
                <h3><a href="@item.Url">@title</a></h3>
                <span>@item.Occupation</span>
            </section>
        }
    </div>
}

<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row content">
            <article class="humans-overview">
                <!-- Content -->
                <header>
                    <h1>@pageTitle</h1>
                </header>

                <div class="humans-overview-items">
                    <!--Render each itemsPerRow items in row-->
                    @for (int i = 0; i < (humanInfoItems.Count() + itemsPerRow - 1) / itemsPerRow; i++)
                    {
                        @RenderRow(humanInfoItems.Skip(i * itemsPerRow).Take(itemsPerRow))
                    }
                </div>
                <!-- /Content -->
            </article>
        </div>
    </div>
</div>
<!-- /Main -->